@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #1789b2;
    --preto: #1b1b1b;
    --branco: #f2f2f2;
    --cinza-translucido: rgba(59, 59, 59, 0.76);
}

html{
    background-color: var(--preto);
}

header{
    margin-bottom: 40px;
}

.titulo_apresentacao{
    color: var(--branco);
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 50px;
}